/bundles/*
/upload/
/cgi-bin/
/assetic/
/ns/app/bootstrap*
/ns/app/cache/*
/ns/app/import/*
/ns/app/logs/*
/ns/app/config/parameters.yml
/ns/app/backup/
/ns/app/deploy/
/ns/app/search/
/ns/app/spool/
/ns/vendor/
/.idea
/*.sql
